@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

.wrapper {
    width: 100%;
    display: flex;
}

/* Begining of sidebar*/
.sidebar {
    background-color: #0C3B2E;
    width: 18%;
    height: calc(100vh);
}

.img-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #6D9773;
    margin: 50px auto;
    padding: 7px 7px 7px 7px;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}

.edit {
    position: absolute;
}

.img-wrapper i {
    color: #F58A2C;
    position: relative;
    top: 82px;
    left: -15px;
    font-size: 18px;
}

li {
    list-style: none;
}

li.nav-item {
    margin-bottom: 10px;
    margin-left: 20px;
}

#signout {
    margin-left: 20px;
}

li a.nav-link {
    color: #ffffff;
    list-style-type: none;
    list-style: none;
}

li a.nav-link:hover {
    color: #F58A2C;
}

li a.nav-link:active {
    color: #ffffff;
}

.dropdown-toggle:focus {
    color: #F58A2C;
}

li a.dropdown-item {
    color: #0C3B2E;
    font-weight: 600;
}

#signout {
    color: #FFBA00;
    text-decoration: none;
    font-weight: 600;
    margin-top: 80px;
}

#signout:hover {
    text-decoration: underline;
    opacity: 0.9;
}
/* End of sidebar */

/* Begining of topbox and main content */
.contain {
    display: block;
    width: calc(100% - 18%);
}

.top-box {
    height: 50px;
    background-color: #30fe6c;
    padding-top: 15px;
    padding-left: 30px;
    display: flex;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
    color: black;
}

.nav-link {
    color: #0C3B2E;
    font-weight: 600;
    margin-right: 20px;
}

.nav-link:hover {
    color: #0C3B2E;
}

#active {
    margin-left: 300px;
}

.last-box {
    background-color: #6D9773;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../css/images/moving\ train.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 50px);
    padding-top: 50px;
    padding-left: 50px;
}

.wrap {
    margin: 30px auto;
}

.first-line,
.second-line {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.second-line {
    margin-top: 100px;
}

.last-box .first-line i,
.last-box .second-line i {
    font-size: 60px;
    color: rgb(29, 29, 29);
}

.last-box .first-line a,
.last-box .second-line a {
    color: #0C3B2E;
    text-decoration: none;
    font-weight: 600;
}

.last-box .first-line .first-box,
.last-box .second-line .s-box {
    width: 200px;
    transition: all .9s;
    border-radius: 10px;
}

.last-box .first-line .first-box:hover,
.last-box .second-line .s-box:hover {
    padding: 10px;
    transition: all .9s;
    transform: scale(0.9);
    box-shadow: 0 8px 16px 0 #6D9773;
}

#first-box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background: #F58A2C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
}

#first-box i {
    max-width: 100px;
    transition: 0.5s;
    margin-bottom: 40px;
}

#first-box:hover i {
    opacity: 0.8;
}

.link {
    color: #0C3B2E;
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    color: #0C3B2E;
}
/* End of topbox and main content */