@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    display: flex;
}

/* Begining of sidebar*/
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background: #11101d;
    padding: 10px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    background: #0C3B2E;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 70px;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar .logo-details i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.links,
.img-wrapper {
    overflow: hidden;
}

.links ul li a {
    background: #11101d !important;
    color: #fff;
    font-size: 13px;
    margin-bottom: 20px;
}

.img-wrapper {
    display: flex;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #6D9773;
    margin: 40px auto;
    margin-left: 50px;
    padding: 7px 7px 7px 7px;
}


.edit {
    position: relative;
    top: 100px;
    right: 70px;
    color: #F58A2C;
}

.edit:hover {
    color: #F58A2C;
}

.links li {
    list-style: none;
    margin-left: 30px;
    margin-bottom: 10px;
}

.top-box li {
    list-style: none;
    margin-left: 20px;
}

li a.nav-link {
    color: #ffffff;
    list-style-type: none;
    list-style: none;
}

li a.nav-link:hover {
    color: #F58A2C;
}

li a.nav-link:active {
    color: #ffffff;
}

.dropdown-toggle:focus {
    color: #F58A2C;
}

li a.dropdown-item {
    color: #0C3B2E;
    font-weight: 600;
}

#signout {
    color: #FFBA00;
    text-decoration: none;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 80px;
}

#signout:hover {
    text-decoration: underline;
    opacity: 0.9;
}
/* End of sidebar */

/* Begining of topbox and main content */
.contain {
    display: block;
    width: calc(100% - 50px);
    position: relative;
    left: 50px;
    transition: all 0.5s ease;
}

nav {
    background-color: #30fe6c;
    padding-left: 30px;
    display: flex;
    margin: 0;
}

.sidebar.open ~ .contain {
    left: 250px;
    width: calc(100% - 250px);
}

.navbar-brand {
    color: #0C3B2E;
}

.navbar-brand:hover {
    color: #0C3B2E;
}

.contain li.nav-item a.nav-link {
    color: #0C3B2E;
    font-weight: 600;
}

.nav-link:hover {
    color: #0C3B2E;
}

#active {
    margin-left: 400px;
}

.last-box {
    background-color: #6D9773;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/moving\ train.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 100px;
    padding-left: 50px;
}

.wrap {
    margin: 30px auto;
}

.first-line,
.second-line {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.second-line {
    margin-top: 100px;
}

.last-box .first-line i,
.last-box .second-line i {
    font-size: 60px;
    color: rgb(29, 29, 29);
}

.last-box .first-line a,
.last-box .second-line a {
    color: #0C3B2E;
    text-decoration: none;
    font-weight: 600;
}

.last-box .first-line .first-box,
.last-box .second-line .s-box {
    width: 200px;
    transition: all .9s;
    border-radius: 10px;
}

.last-box .first-line .first-box:hover,
.last-box .second-line .s-box:hover {
    padding: 10px;
    transition: all .9s;
    transform: scale(0.9);
    box-shadow: 0 8px 16px 0 #6D9773;
}

#first-box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background: #F58A2C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
}

#first-box i {
    max-width: 100px;
    transition: 0.5s;
    margin-bottom: 40px;
}

#first-box:hover i {
    opacity: 0.8;
}

.link {
    color: #0C3B2E;
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    color: #0C3B2E;
}
/* End of topbox and main content */


#c-sub {
    background: #6D9773;
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/navigating.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#form-box {
    margin-left: calc(100% - 82%);
}

.form-floating {
    width: 400px;
    margin: 0 auto;
    margin-left: 230px;
}

.head3{
    color: #F58A2C;
    margin-left: 250px;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav #active {
    margin-left: 0;
  }

  nav .nav-item {
    margin-left: 0;
  }

  nav {
    text-align: center;
  }

  .last-box {
    padding-left: 70px;
  }

  .first-line,
  .second-line {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    gap: 50px;
  }

  .second-line {
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .last-box {
    height: 100%;
  }

  .first-line,
  .second-line {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
}

@media (max-width: 450px) {
  .sidebar.open {
    width: 230px;
  }

  .sidebar.open ~ .contain {
    left: 230px;
    width: calc(100% - 230px);
  }

  .last-box {
    padding-left: 20px;
  }

  .last-box .first-line i,
  .last-box .second-line i {
    font-size: 30px;
  }

  #first-box {
    width: 150px;
    height: 150px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  .edit {
    right: 50px;
  }
}

@media (max-width: 375px) {
  .last-box .first-line i,
  .last-box .second-line i {
    font-size: 10px;
  }

  .last-box .first-line .first-box,
  .last-box .second-line .s-box {
    width: 0px;
    transition: all 0.9s;
    border-radius: 10px;
  }

  #first-box {
    width: 100px;
    height: 170px;
  }
}