@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a8acab;
  font-family: 'Poppins';
  scroll-behavior: smooth;
}

.top-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/faq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  width: 100%;
  padding-top: 170px;
  text-align: center;
  font-weight: 600;
}

.heading1 {
  color: #a8acab;
}

.accordion {
  width: 90%;
  margin-top: 100px;
  margin: 100px auto;
}

.accordion-item {
  color: #f58a2c;
}

.accordion-body {
  width: 60%;
}

.accordion-button {
  color: #30fe6c;
  font-weight: 600;
}

.accordion-button,
.accordion-item {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/pc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.accordion-button:focus {
  color: #30fe6c;
}

@media (max-width: 900px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #active {
    margin-left: 0;
  }

  .nav-item {
    margin-left: 0;
  }

  nav {
    text-align: center;
  }

  #signup {
    margin: 0 auto;
  }

  .top-wrapper {
    background-size: contain;
    padding-top: 200px;
  }
}

@media (max-width: 450px) {
  .top-wrapper {
    height: 300px;
    padding-top: 150px;
  }
}

@media (max-width: 375px) {
  .top-wrapper {
    height: 265px;
    padding-top: 130px;
  }

  .heading1 {
    font-size: 25px;
  }
}
