
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.footer {
    background-color: #0c3b2e;
    color: #a8acab;
    font-family: 'Poppins';
}
.footer-list {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}
.footer-list li a {
    text-decoration: none;
    color: #a8acab;
}
.fa-brands, .fa-solid {
    font-size: 18px;
    margin-right: 10px;
}
.fa-facebook {
    color: blue;
}
.fa-envelope {
    color: brown;
}
.fa-instagram {
    color: red;
}
.fa-x-twitter {
    color: white;
}